.project {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #365C96;
	background: linear-gradient(to bottom, #4D7EBB, #365C96);
	padding: 10px;
	border: 1px solid #546F7B;
}

.project-title{
  color: #fff;
  font-size: 16px;
  margin-left: 1vw;
}

.project-options{
  visibility: hidden;
  color: #8EB1E5;
}

.project:hover .project-options{
  visibility: visible;
  cursor: pointer;
}

.project-options span {
	padding: 0 10px;
}

.project-options>span:first-child {
	border-right: 1px solid #8EB1E5;
}