<div class="new-project-container">
	<h4>Edit TODO List</h4>
	<div class="new-project-form">
		<form class="add-edit" (ngSubmit)="editProject()">
		  <div class="input-group">
		    <input type="text" class="form-control" placeholder="Start typing here to create a list..." [(ngModel)]="projectTitle" name="projectTitle">
		    <span class="input-group-btn">
		      <button class="btn btn-default" type="submit" [class.disabled]="!projectTitle">Edit List</button>
		    </span>
		  </div>
		</form>
	</div>
	<div class="cancel-new-project">
		<div class="cancel-button-area">
		  <button class="btn btn-default cancel" type="button" (click)="cancel()">Cancel</button>
		</div>
	</div>
</div>